@font-face {
	font-family: "Flaticon";
	src: url("../fonts/icons/Flaticon.woff2") format("woff2");
	src: url("../fonts/icons/Flaticon.woff") format("woff"), 
		 url("../fonts/icons/Flaticon.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}